DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DATABASE_NAME?schema=public"
JWT_SECRET="YOUR_SECRET"
SENDGRID_API_KEY="YOUR_SENDGRID_KEY"
SENDGRID_SENDER="name@mail.com"
MESSAGING_URL="amqp://localhost"